token.txt

*.jpeg
*.JPEG
*.jpg
*.tgz
*.DS_Store
*.png

*.h5
*.pth

*.run

images/
split-dataset/
dupl-dataset/
trained-models/
new-street-view/

gputest.py
test.py
code/chunktest.py
code/randomtest.py

__pycache__
code/__pycache__
