token.txt

*.jpeg
*.JPEG
*.jpg
*.tgz
*.DS_Store

*.h5
*.pth

*.run

images/
split-dataset/
dupl-dataset/
trained-models/

gputest.py
test.py
code/chunktest.py
code/randomtest.py

__pycache__
code/__pycache__
